    body{
        background-color: #1a1a1a;
        text-align: center;
        padding: 5%;
    }

    .container {
        background-color: #e6e6e6;
        color: black;
        display: inline-block;
        align-items: center;
        height: 40vh;
        width: 50%;
        border-radius: 5px;
    }