    body{
        background-color: #252A30;
        text-align: center;
        padding: 5%;
    }

    .container {
        background-color: #1B1C20;
        color: black;
        display: inline-block;
        align-items: center;
        height: 40vh;
        width: 50%;
        border-radius: 5px;
    }